<% if actors.empty? %>
  <div>Not Available</div>
<% else %>
  <% actors.each do |actor| %>
    <% actor == actors.last ? separator = '' : separator = ',' %>
    <%= link_to [actor.full_name, separator].join, actor_path(actor) %>
  <% end %>
<% end %>
