<h4> Your Rating </h4>
<% if user_signed_in? %>
  <div class="rating-stars" id="<%= create_star_id_url(@rating) %>" data-score="<%= @rating.score %>"></div>
  <%= hidden_field_tag 'rating_user_id', current_user.id %>
<% else %>
  <%= link_to 'Sign in to add ratings', new_user_session_path %>
<% end %>
<hr/>
