<%= render 'form' %>

<div class="row">
  <div class="col-md-offset-10">
    <%= link_to 'Show', @movie , class: "btn btn-default" %>
    <%= link_to 'Back', movies_path, class: "btn btn-default" %>
  </div>
</div>
