<% if @movies.present? %>
  $('#index-display').html("<h1 class='sub-heading'>Search Results</div><hr/><%= j (render partial: 'index_movies', locals: { movies: @movies, top: nil }) %> <%= paginate @movies %>");
<% else %>
  $('#index-display').html("<h1 class='sub-heading'>Search Results</h1><hr/><div class='center-text'>No Results Found!</div>");
<% end %>
