<% if @movies.present? %>
  $('#index-display').html("<h1 class='sub-heading'><%= @title %></div><hr/><%= j render partial: 'index_movies', locals: { movies: @movies, top: nil } %>");
<% else %>
  $('#index-display').html("<h1 class='sub-heading'>Movies</h1><hr/><div class='center-text'>No Results Found!</div>");
<% end %>
