<div class="col-md-8 col-centered">
  <h2 class="sub-heading">
    <%= heading(params[:type]) %> Movies
  </h2>
  <%= render partial: 'index_movies', locals: { movies: @movies } %>

<div align="center">
  <%= paginate @movies %>
</div>
