<div class="container">
  <div class="col-md-10 col-md-offset-2">
    <%= image_tag '/logo.png', class: "inline-element" %>
    <h1 class="inline-element" id="heading">Movie Time</h1>
  </div>
</div>

<div class="col-md-8 col-centered">
  <%= render partial: 'index_movies', locals: { movies: @movies } %>
</div>
