.bold{
  text-transform: capitalize;
  font-weight: bold;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
#header {
  background: #404040;
  padding: 10px;
  margin-bottom: 5em;
}
#content {
  padding-bottom: 100px;
}
#footer {
  background: #222;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  padding-top: 3em;
  color: #959595;
}
.col-centered {
  float: none !important;
  margin: 0 auto;
}
.margin {
  margin-top: 5px;
  margin-bottom: 5px;
}
iframe {
  height: 480px;
  width: 840px;
  resize: both;
  overflow: auto;
}
.index-margin {
  margin-right: 50px;
  margin-left: 50px;
}
#center-align {
  text-align: center;
}
.round-borders {
  border-radius: 10px;
}
.large-font {
  font-size: 22px;
}
.title-margin {
  margin-top: 20px;
}
.bottom-margin {
  margin-bottom: 50px;
}
.inline-element {
  display: inline;
  float: left;
}
#heading {
  margin-top: 30px;
  font-size: 100px;
  font-family: 'Roboto Slab', serif;
}
.sub-heading {
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 35px;
}
.div-right {
  margin-left: 94%;
  margin-right: 6%;
}
